/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.ipl-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  object-fit: contain;
}
.heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    justify-content: center;
  }
  .bg {
    padding: 30px;
  }
  .logo {
    height: 80px;
    width: 80px;
  }
  .heading {
    font-size: 40px;
  }
}
